<div class="page-container">
  <!-- TODO: Beautify -->
  <mat-grid-list cols=2 rowHeight=2:.90>
    <mat-grid-tile [rowspan]="2">
      <mat-card class="card">
        <app-matchup [boxscoresMap]="boxscoresMap" [teamsMap]="teamsMap"></app-matchup>
      </mat-card>
    </mat-grid-tile>


    <!-- TODO -->
    <mat-grid-tile>
      <mat-card class="card">
        <app-team-graph></app-team-graph>
      </mat-card>
    </mat-grid-tile>

    <!-- TODO -->
    <mat-grid-tile>
      <mat-card class="card">
        <app-team-info [teamsMap]="teamsMap"></app-team-info>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
