<!-- TODO: Beautify things -->

<!-- TODO: 
        Add slider functionality for selecting matchup
            - add indicator
            - add buttons and sliding for moving between matchups
            - add current matchup variable
        Add projected points
            - get projected points for each player for the week.
            - get projected point for each team for the week by adding each boxscore player projected.
        Add Actual points for player
            - get from boxscore player raw stats. 
        Add actual stats for player
            - get from boxscore player raw stats.
        Fix scroll bar
            - either hide or make look better.
        Beautify fonts
-->

<div style="height:100%">
  <div *ngIf="isLoadedMatchups && isLoadedTeams" style="background-color: coral; height: 22%;">
    <!-- Row 1 -->
    <div style="height:10rem; overflow:hidden;">
      <div style="width: 50%; text-align: center; height:100%; padding-top: 10px; float:left">
        <!-- Home team photo -->
        <img style="display:block; margin:auto; height:4.5rem"
          src="{{teams[boxscores[boxScoreNumber].homeTeamId - 1].logoURL}}">
        <!-- home team name -->
        <h3>{{ teams[boxscores[boxScoreNumber].homeTeamId - 1].name }} </h3>
        <!-- home points scored -->
        <h4>{{ boxscores[boxScoreNumber].homeScore }}</h4>
      </div>

      <div style="width: 50%; text-align: center; height:100%; padding-top: 10px; float:right">
        <!-- Away team photo -->
        <img style="display:block; margin:auto; height:4.5rem;"
          src="{{teams[boxscores[boxScoreNumber].awayTeamId - 1].logoURL}}">
        <!-- Away team name -->
        <h3>{{ teams[boxscores[boxScoreNumber].awayTeamId - 1].name }} </h3>
        <!-- Away points scored -->
        <h4>{{ boxscores[boxScoreNumber].awayScore }}</h4>
      </div>
    </div>

    <!-- Row 2 -->
    <div style="background-color: dimgray; height: 2rem; color:lightgray">
      <div style="width: 33%;">
        <!-- home team projected -->

      </div>

      <div style="width: 33%;">
        <!-- matchup indicator -->
      </div>

      <div style="width:33%">
        <!-- away team projected -->
      </div>
    </div>

  </div>


  <!--
        Scrolling div
          Row N: for each roster spot (example 1 qb, 2 rb, 2 wr, 1 flex, 6 bench
            column 1: Home Player info component/div
            column 2: Position
            column 3: Away Player info component/div
      -->
  <div style="overflow-y: scroll; height: 78%; background-color: dimgray ">
    <div *ngIf="isLoadedTeams && isLoadedMatchups">
      <div *ngFor="let players of lineup">
        <mat-grid-list cols="20" rowHeight="3rem">

          <mat-grid-tile [colspan]="9" [rowspan]="1">
            <div
              style="vertical-align: bottom; height:100%; width: 100%; background-color: white; border-bottom: 1px solid grey;">
              <app-matchup-player [player]=players.homePlayer>

              </app-matchup-player>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div
              style=" height: 100%; display:table-cell; vertical-align: middle; text-align:center; width: 100%; background-color: grey; border-bottom: 1px solid black;">
              <p *ngIf="players.position != 'RB/WR/TE'" style="color: white; font-size: 1.5em;">{{players.position}}</p>
              <p *ngIf="players.position == 'RB/WR/TE'" style="color: white; font-size: 1.5em;">FLEX</p>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="9" [rowspan]="1">
            <div style="height: 100%; width: 100%; background-color: white; border-bottom: 1px solid grey;">
              <app-matchup-player [player]=players.awayPlayer>

              </app-matchup-player>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
