
<!-- TODO: Beautify things -->

<!-- TODO:
        Fix scroll bar
            - either hide or make look better.
        Beautify fonts
-->
<ngb-carousel [interval]=0 [showNavigationArrows]="true" [showNavigationIndicators]="true" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let boxscore of boxscoresForWeek">
    <div style="background-color: coral; height: 22%; width:100%">
      <!-- Row 1 -->
      <div style="height:10rem; overflow:hidden;">
        <div style="width: 50%; text-align: center; height:100%; padding-top: 10px; float:left">
          <!-- Home team photo -->
          <img style="display:block; margin:auto; height:4.5rem"
               src="{{teamsMap.get(boxscore.homeTeamId).logoURL}}">
          <!-- home team name -->
          <h3>{{ teamsMap.get(boxscore.homeTeamId).name }} </h3>
          <!-- home points scored -->
          <h4>{{ boxscore.homeScore }}</h4>
        </div>

        <div style="width: 50%; text-align: center; height:100%; padding-top: 10px; float:right">
          <!-- Away team photo -->
          <img style="display:block; margin:auto; height:4.5rem;"
               src="{{teamsMap.get(boxscore.awayTeamId).logoURL}}">
          <!-- Away team name -->
          <h3>{{ teamsMap.get(boxscore.awayTeamId).name }} </h3>
          <!-- Away points scored -->
          <h4>{{ boxscore.awayScore }}</h4>
        </div>
      </div>

      <!-- Row 2 -->
      <div style="background-color: dimgray; height: 2.4rem; color:lightgray;">
        <div style="width: 50%; display: inline-block; padding-left: 10px; vertical-align: center">
          <!-- home team projected -->
          <p>proj: {{ boxscore.homeProjectedScore | number :'1.2-2' }}</p>

          <p>{{ boxscore.awayProjectedScore }}</p>
        </div>
        <div style="width:50%; text-align:right; float: right; padding-right: 10px">
          <!-- away team projected -->
          <p>proj: {{ boxscore.awayProjectedScore | number :'1.2-2' }}</p>
        </div>
      </div>

    </div>
  </ng-template>
</ngb-carousel>


  <!--
        Scrolling div
          Row N: for each roster spot (example 1 qb, 2 rb, 2 wr, 1 flex, 6 bench
            column 1: Home Player info component/div
            column 2: Position
            column 3: Away Player info component/div
      -->
  <div style="overflow-y: scroll; height: 78%; background-color: dimgray ">
    <div>
      <div *ngFor="let player of currentBoxscore.homeRoster; index as i">
        <mat-grid-list cols="20" rowHeight="3rem">

          <mat-grid-tile [colspan]="9" [rowspan]="1">
            <div
              style="vertical-align: bottom; height:100%; width: 100%; background-color: white; border-bottom: 1px solid grey;">
              <app-matchup-player [player]=currentBoxscore.homeRoster[i]></app-matchup-player>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div
              style=" height: 100%; display:table-cell; vertical-align: middle; text-align:center; width: 100%; background-color: grey; border-bottom: 1px solid black;">
              <p *ngIf="currentBoxscore.homeRoster[i].position != 'RB/WR/TE'" style="color: white; font-size: 1.5em;">{{currentBoxscore.homeRoster[i].position}}</p>
              <p *ngIf="currentBoxscore.homeRoster[i].position == 'RB/WR/TE'" style="color: white; font-size: 1.5em;">FLEX</p>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="9" [rowspan]="1">
            <div style="height: 100%; width: 100%; background-color: white; border-bottom: 1px solid grey;">
              <app-matchup-player [player]=currentBoxscore.awayRoster[i]></app-matchup-player>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
