<style>
  .toolbar {
    /* height: 50px; */
    /* margin: 8px; */
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
</style>

<!-- TODO: Make filter bar sticky, and non transparent -->
<!-- Filter bar -->
    <div class="toolbar" role="banner">
        <!-- <span style="padding:5px">Players</span> -->
        <div class="spacer"></div>
        <mat-form-field style="padding:5px;">
            <mat-select class="myClass" placeholder="Position" (selectionChange)="checkForSelectionChange($event.value, 'POSITION')">
                    <mat-option ></mat-option>
                    <!-- <mat-option *ngFor="let pos of Position | keyvalue" value="{{ pos.value }}">{{ pos.key }}</mat-option> -->
                    <mat-option  value="QB">QB</mat-option>
                    <mat-option value="RB">RB</mat-option>
                    <mat-option value="WR">WR</mat-option>
                    <mat-option value="TE">TE</mat-option>
                    <mat-option value="D/ST">D/ST</mat-option>
                    <mat-option value="K">K</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Team" (selectionChange)="checkForSelectionChange($event.value, 'TEAM')">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let team of teams" [value]="team.id">{{team.name}}</mat-option>
                    <mat-option [value]="0">Free Agent</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Sort By" (selectionChange)="checkForSelectionChange($event.value, 'SORT')">
                    <mat-option></mat-option>
                    <!-- TODO: Create enum for sort type -->
                    <mat-option value="AVGAUCTIONVALUE">Average Auction Value </mat-option>
                    <mat-option value="TRANSACTIONTRENDS">Transaction Trends</mat-option>

            </mat-select>
        </mat-form-field>
    </div>

    <!-- TODO: Add a div to make this scroll with cool scrollbar -->
    <!-- List -->
    <mat-action-list>
        <button *ngFor="let player of filteredPlayers | orderBy: orderByType; let i = index" mat-list-item (click)="setPlayer(player)">{{ player.fullName }}: {{ getPosition(player) }}, {{ player.teamName }}, || percentChange {{ player.percentChange | number:'.1-5'  }} || AAV {{ player.auctionValueAverage | number:'.1-5' }}</button>
    </mat-action-list>
