<mat-grid-list cols=2 rowHeight=2:.90>

  <!-- TODO: -->
  <mat-grid-tile [rowspan]="2">
    <mat-card style="width:95%; height:97.5%; background-color: #5F6366; overflow: hidden;">
      <app-player-list [playersMap]=playersMap (currentPlayer)="setCurrentPlayer($event)"></app-player-list>
    </mat-card>
  </mat-grid-tile>

  <!-- TODO -->
  <mat-grid-tile>
    <mat-card style="width:95%; height: 95%; background-color: #5F6366; color: white; overflow: hidden;">
      <app-player-graph></app-player-graph>
    </mat-card>
  </mat-grid-tile>

  <!-- TODO -->
  <mat-grid-tile>
    <mat-card style="width:95%; height: 95%; background-color: #5F6366; color: white; overflow: hidden;">
      <app-player-info [(currentPlayer)]="currentPlayer"></app-player-info>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
