<!-- TODO: get info from current team -->
<!-- TODO: add drop down select for selecting team -->
<div style="width: 25%">
  <mat-form-field>
    <mat-select placeholder="Team" [(ngModel)]="currentTeamId">
      <mat-option>All</mat-option>
      <mat-option *ngFor="let team of teams" [value]="team.id">{{team.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="currentTeamId">
  <div style="width: 50%; float: left;">
    <img src="{{ teams[currentTeam].logoURL}}">
    <h2>Team Name</h2>
  </div>

  <div style="width: 50%; float: right;">
    <h3>Record: </h3>
    <p>wins: 8 losses: 2 ties: 0</p>
    <p>division wins: 6 division losses: 1 division ties: 0</p>
    <p>winning percentage: 69%</p>
    <p>projected final record: </p>
  </div>

  <div style="width: 50%; float: left;">
    <h3>Score:</h3>
    <p>total poinst scored</p>
    <p>total points against</p>
    <p>projected points for</p>
    <p>projected points against</p>
  </div>

  <div style="width:50%; float: left;">
    <h3>Standings: </h3>
    <p>current playoff seed</p>
    <p>final standings position</p>
    <p>projected final standings</p>
  </div>
</div>

