<!-- TODO: Player name, pro team abrev -->
<!-- TODO: yards, tds, stats -->
<!-- TODO: points scored -->

<mat-grid-list cols="2">
  <mat-grid-tile>
    <p class="">{{player.firstName.charAt(0)}} {{player.lastName}}</p>
    <p class="">{{player.proTeamAbbreviation}}</p>
  </mat-grid-tile>

  <mat-grid-tile rowspan="2">
    <!-- TODO: get player score from matchup   -->
  </mat-grid-tile>

  <mat-grid-tile>
  <!-- TODO: ngIf for each stat   -->
    <p></p>
    <p></p>
  </mat-grid-tile>
</mat-grid-list>
