<!-- TODO: Fix Scroll -->

<div class="grid-container" style="height: 100%;">

  <div style="width:100%; background-color:white">
      <div style=" float:left; width: 80%; height:100%; padding:5px">
        <div style="height: 100%; padding-top: 2px;">
          <p *ngIf="player.player.lastName != 'D/ST'" style="display: inline; font-weight: bold; font-size: 1.5em">{{player.player.firstName.charAt(0)}} {{player.player.lastName}}, </p>
          <p *ngIf="player.player.lastName == 'D/ST'" style="display: inline; font-weight: bold; font-size: 1.5em">{{player.player.firstName}} {{player.player.lastName}}, </p>
          <p style="display: inline;">{{player.player.proTeamAbbreviation}}</p>
          <p style="display: inline; color:red;" *ngIf="player.player.injuryStatus && player.player.injuryStatus != 'ACTIVE'"  >   {{player.player.injuryStatus.charAt(0)}}</p>
        </div>
      </div>
      <div style=" float:right; text-align: center; width: 20%; height: 100%;">
          <p *ngIf="player.totalPoints" style="font-size: 1.5rem; color: blue; font-weight:500;">{{player.totalPoints | number: '1.2-2'}}</p>
          <p *ngIf="!player.totalPoints && player.totalProjPoints" style="font-size: 1.5rem; color: grey; font-weight:500;">{{player.totalProjPoints | number: '1.2-2'}}</p>
          <p *ngIf="!player.totalPoints && !player.totalProjPoints" style="font-size: 1.5rem; color: grey; font-weight:500;">-</p>
      </div>
  </div>

</div>
